<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=LAPTOP-B130UKF6\SQLEXPRESS; initial catalog=ProyectoSAB; trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=ProyectoSAB;Username=postgres;Password=luisalfredo;"/>
		<add name="Memoria"
			 connectionString="SAB_DBMemoria"/>
	</connectionStrings>
</configuration>