@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Aprobación de Becas</h1>
    <div>
        <img class="img-fluid" src="https://www.gob.ec/sites/default/files/styles/gobec_image_content/public/2020-09/imagen_9.png.jpeg?itok=0mDhp7tC" />
    </div>
    <p>Pregunta por la Carrera que desees, nosotros te ayudamos a financiarla</p>
</div>
